In [1]:
import pandas as pd
import numpy as np

In [49]:
file = '../data/immigration-and-protection-data-apr-jun-2025.xlsx'

ACY_05M = pd.read_excel(file, sheet_name='ASY_05(M)')

CoC_01 = pd.read_excel(file, sheet_name='CoC_01')
CoC_02 = pd.read_excel(file, sheet_name='CoC_02')
CoC_03 = pd.read_excel(file, sheet_name='CoC_03')
CoC_04 = pd.read_excel(file, sheet_name='CoC_04')
CoC_05 = pd.read_excel(file, sheet_name='CoC_05')
CoC_06 = pd.read_excel(file, sheet_name='CoC_06')
CoC_07 = pd.read_excel(file, sheet_name='CoC_07')

FW_01 = pd.read_excel(file, sheet_name='FW_01')
FW_02 = pd.read_excel(file, sheet_name='FW_02')
FW_03 = pd.read_excel(file, sheet_name='FW_03')
HR_01 = pd.read_excel(file, sheet_name='HR_01')
HR_02 = pd.read_excel(file, sheet_name='HR_02')
HR_03 = pd.read_excel(file, sheet_name='HR_03')

In [ ]:
ACY_05M.head(10)
ACY_05M.columns = ACY_05M.iloc[2]
ACY_05M = ACY_05M[3:]
ACY_05M_new = ACY_05M.drop(ACY_05M.columns[1], axis=1)

2,Month,Initial Decisions,Substantive Interviews,Total Principal Stages Completed,Asylum Caseworking Staff,Productivity (Principal Stages Per Caseworker Per Month)
3,2020-01-01 00:00:00,2332,2304,4636,635,7
4,2020-02-01 00:00:00,2246,2231,4477,616,7
5,2020-03-01 00:00:00,1970,1588,3558,607,6
6,2020-04-01 00:00:00,380,1,381,608,1
7,2020-05-01 00:00:00,1052,1,1053,604,2
8,2020-06-01 00:00:00,1786,1,1787,602,3
9,2020-07-01 00:00:00,1468,20,1488,602,2
10,2020-08-01 00:00:00,944,446,1390,614,2
11,2020-09-01 00:00:00,957,810,1767,619,3
12,2020-10-01 00:00:00,1855,1452,3307,604,5

In [51]:
# Reset index to start from 1
ACY_05M_new = ACY_05M_new.reset_index(drop=True)
ACY_05M_new.index = ACY_05M_new.index + 1
ACY_05M_new.head(10)

2,Month,Initial Decisions,Substantive Interviews,Total Principal Stages Completed,Asylum Caseworking Staff,Productivity (Principal Stages Per Caseworker Per Month)
1,2020-01-01 00:00:00,2332,2304,4636,635,7
2,2020-02-01 00:00:00,2246,2231,4477,616,7
3,2020-03-01 00:00:00,1970,1588,3558,607,6
4,2020-04-01 00:00:00,380,1,381,608,1
5,2020-05-01 00:00:00,1052,1,1053,604,2
6,2020-06-01 00:00:00,1786,1,1787,602,3
7,2020-07-01 00:00:00,1468,20,1488,602,2
8,2020-08-01 00:00:00,944,446,1390,614,2
9,2020-09-01 00:00:00,957,810,1767,619,3
10,2020-10-01 00:00:00,1855,1452,3307,604,5

In [57]:
ACY_05M_new = ACY_05M_new.rename(columns={ACY_05M_new.columns[0]:"ID"})
ACY_05M_new.head(10)

2,ID,Initial Decisions,Substantive Interviews,Total Principal Stages Completed,Asylum Caseworking Staff,Productivity (Principal Stages Per Caseworker Per Month)
1,2020-01-01 00:00:00,2332,2304,4636,635,7
2,2020-02-01 00:00:00,2246,2231,4477,616,7
3,2020-03-01 00:00:00,1970,1588,3558,607,6
4,2020-04-01 00:00:00,380,1,381,608,1
5,2020-05-01 00:00:00,1052,1,1053,604,2
6,2020-06-01 00:00:00,1786,1,1787,602,3
7,2020-07-01 00:00:00,1468,20,1488,602,2
8,2020-08-01 00:00:00,944,446,1390,614,2
9,2020-09-01 00:00:00,957,810,1767,619,3
10,2020-10-01 00:00:00,1855,1452,3307,604,5

In [12]:
CoC_01.head(10)

,CoC_01: NRPF - Destitution Change of Conditions Applications and Outcomes 1 - 5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Back to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Quarter,Applications Received1,Of which: Pending2,Of Which had Decisions,Of which: Accepted,Of which: Rejected,"Average Days to Decision3,4",Acceptance Rate5,Total Decisions In Quarter,Total End of Quarter WIP
2,2017 Q3,363,0,363,148,215,60,0.41,24,339
3,2017 Q4,742,0,742,402,340,20,0.55,906,175
4,2018 Q1,708,0,708,351,357,20,0.5,726,157
5,2018 Q2,729,0,729,351,378,33,0.49,667,219
6,2018 Q3,839,0,839,421,418,18,0.51,870,188
7,2018 Q4,916,0,916,524,392,21,0.58,841,263
8,2019 Q1,859,0,859,679,180,27,0.8,855,267
9,2019 Q2,978,0,978,787,191,34,0.81,804,441

In [10]:
FW_01.head(10)

,"FW_01: Fee Waiver Applications1-3,6",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Back to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Quarter,Total Applications,Of Which: Accepted,Of Which: Rejected,Of Which: IHS Exempt4,Of Which: Void5,Of Which: Withdrawn,Of Which: Other,Of Which: Outstanding,Resolved within 4 weeks,Accepted within 4 weeks
3,2018 Q4,415,209,180,7,19,0,0,0,88,55
4,2019 Q1,5068,2804,1990,31,212,31,0,0,2702,1440
5,2019 Q2,4452,2324,1821,30,238,38,1,0,399,250
6,2019 Q3,4817,2378,2005,50,350,33,1,0,590,427
7,2019 Q4,4547,2168,2052,29,248,49,1,0,510,398
8,2020 Q1,5694,3492,1777,28,328,66,1,2,157,110
9,2020 Q2,5966,4921,584,20,361,80,0,0,686,610